<div>
  <table class="table table-hover">
    <tr>
      <th>ID</th>
      <th>店名</th>
      <th>功能</th>
    </tr>
    
    <% @dinners.each do |dinner| %>
      <tr>
        <td><%=dinner.id %></td>
        <td><%= dinner.name %></td>
        <td>
          <%= link_to "Show", admin_dinner_path(dinner),:class=>"btn btn-info" %>
          <%= link_to "Edit", admin_dinners_path(:id => dinner.id,:page => params[:page]),:class=>"btn btn-primary"%>
          <%= link_to "Delete", admin_dinner_path(dinner),:method=>:delete,:class=>"btn btn-danger"%>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<%=paginate @dinners%>
<div>
  <%= link_to "New", new_dinner_path,:class=>"btn btn-info" %>
</div>

<div class="post">
  <% if @dinner.new_record? 
      url = admin_dinners_path
    else
      url = admin_dinner_path(@dinner)
      end %>
      
  <%=form_for @dinner, :url => url , :html=>{ :enctype=>"multipart/form-data" } do |d| %>
    <div class="form-group">
      <%=d.label :name ,"店名"%>
      <%=d.text_field :name ,:class => "form-control" %>
    </div>

    <div class="form-group">
      <%=d.label :zip ,"ZIP"%>
      <%=d.text_field :zip ,:class => "form-control" %>
    </div>

    <div class="form-group">
      <%=d.label :district ,"區"%>
      <%=d.text_field :district ,:class => "form-control" %>
    </div>

    <div class="form-group">
      <%=d.label :address ,"地址"%>
      <%=d.text_field :address ,:class => "form-control" %>
    </div>

    <div class="form-group">
      <%=d.label :lat ,"經度"%>
      <%=d.text_field :lat ,:class => "form-control" %>
    </div>

    <div class="form-group">
      <%=d.label :lng ,"緯度"%>
      <%=d.text_field :lng ,:class => "form-control" %>
    </div>

    <div class="form-group">
      <%=d.label :style_id ,"風格"%>
      <%=d.collection_select(:style_id, Style.all, :id, :name) %>
    </div>
    
    <!-- problem to be fix -->
    <div>
      <% @dinner.photos.each_with_index do |photo, index| %>
        <input type="checkbox" name='<%= "remove_photo[#{index}]"%>' value="<%= photo.id %>">
        <img src="<%= photo.avatar.url %>" style="width: 50px;">
      <% end %>
      <input type="file" name="dinner[photos_attributes][0][avatar]" class="photo_file">
      <img src="" class="photo_img" style="display:none; width: 400px;">
    </div>

    <%= d.submit @sub, :class => "btn btn-primary"%>
  <%end %>
</div>
<script type="text/javascript">
    $(".photo_file").on("change", function(e){
      var file = $(this)[0].files[0];
      var url = URL.createObjectURL(file);
      $(".photo_img").attr('src',url);
      $(".photo_img").show();
    });
</script>