<p>Hello New meal Admin</p>

<div class="meal">
  <%=form_for @meal, :url => admin_dinner_meals_path(@dinner,@meal) do |m| %>
    <div class="form-group">
      <%=m.label :name ,"餐點名稱"%>
      <%=m.text_field :name ,:class => "form-control" %>
    </div>
    
    <div class="form-group">
      <%=m.label :discription ,"形容"%>
      <%=m.text_field :discription ,:class => "form-control" %>
    </div>

    <div class="form-group">
      <%=m.label :price ,"價格"%>
      <%=m.text_field :price ,:class => "form-control" %>
    </div>

    <div class="form-group">
      <%=m.label :style_id ,"風格"%>
      <%=m.collection_select(:style_id, Style.all, :id, :name) %>
    </div>

    <div class="form-group">
      <%=m.label :calories ,"卡路里"%>
      <%=m.text_field :calories ,:class => "form-control" %>
    </div>

    <%= m.submit "新增", :class => "btn btn-primary"%>
  <%end %>
</div>