<p>Hello New meal Admin</p>

<div class="meal">
  <%=form_for @meal, :url => admin_dinner_meals_path(@dinner,@meal) do |d| %>
    <div class="form-group">
      <%=d.label :name ,"餐點名稱"%>
      <%=d.text_field :name ,:class => "form-control" %>
    </div>
    
    <div class="form-group">
      <%=d.label :discription ,"形容"%>
      <%=d.text_field :discription ,:class => "form-control" %>
    </div>

    <div class="form-group">
      <%=d.label :price ,"價格"%>
      <%=d.text_field :price ,:class => "form-control" %>
    </div>

    <div class="form-group">
      <%=d.label :style_id ,"風格"%>
      <%=d.collection_select(:style_id, Style.all, :id, :name) %>
    </div>

    <%= d.submit "新增", :class => "btn btn-primary"%>
  <%end %>
</div>