<p>Hello Meal show Admin</p>

  <%=form_for @meal,:url => admin_dinner_meal_path(@dinner,@meal) , :method=>:patch, :html=>{ :enctype=>"multipart/form-data" } do |m| %>
    <div class="form-group">
      <%=m.label :name ,"店名"%>
      <%=m.text_field :name ,:class => "form-control" %>
    </div>

    <div class="form-group">
      <%=m.label :discription ,"形容"%>
      <%=m.text_field :discription ,:class => "form-control" %>
    </div>
    <div class="form-group">
      <%=m.label :price ,"價格"%>
      <%=m.text_field :price ,:class => "form-control" %>
    </div>

    <div class="form-group">
      <%=m.label :style_id ,"風格"%>
      <%=m.collection_select(:style_id, Style.all, :id, :name) %>
    </div>
		<!-- problem to be fix -->
    <div>
      <% @meal.photos.each_with_index do |photo, index| %>
        <input type="checkbox" name='<%= "remove_photo[#{index}]"%>' value="<%= photo.id %>">
        <img src="<%= photo.avatar.url %>" style="width: 50px;">
      <% end %>
      <input type="file" name="meal[photos_attributes][0][avatar]" class="photo_file">
      <img src="" class="photo_img" style="display:none; width: 400px;">
    </div>

    <%= m.submit "更新", :class => "btn btn-primary"%>
  <%end %>
<div>
<script type="text/javascript">
    $(".photo_file").on("change", function(e){
      var file = $(this)[0].files[0];
      var url = URL.createObjectURL(file);
      $(".photo_img").attr('src',url);
      $(".photo_img").show();
    });
</script>