<div>
  <table class="table table-hover">
    <tr>
      <th>ID</th>
			<th>Email</th>
      <th>身份</th>
			<th>註冊時間</th>
    </tr>
    
    <% @users.each do |user| %>
      <tr>
        <td><%=user.id %></td>
				<td><%= link_to "#{user.email}", admin_user_path(user)%></td>
        <td><%= user.role %></td>
				<td><%= user.created_at%></td>
      </tr>
    <% end %>
  </table>
</div>

<%=paginate @users%>
