<div>
  <table class="table table-hover">
    <tr>
      <th>ID</th>
			<th>Email</th>
			<th>註冊時間</th>
    </tr>
    
     <tr>
        <td><%=@user.id %></td>
        <td><%=@user.email %></td>
				<td><%=@user.created_at%></td>
      </tr>
  </table>
</div>
<hr>

<div>
<h3>收藏餐點</h3>
  <table class="table table-hover">
    <tr>
      <th>ID</th>
			<th>餐點</th>
      <th>風格</th>      
			<th>照片</th>
			<th>介紹</th>
    </tr>
    <% @meals.each do |meal| %>
     <tr>
        <td><%= meal.id %></td>
        <td><%= meal.name %></td>
        <td><%= meal.style.name %></td>
        <td>
					<%meal.photos.each do |photo|%> 
						<%if photo.avatar_file_name%>
							<%= image_tag (photo.avatar.url(:thumb)) %>
						<%end %>
					<%end %>        	
        </td>

        <td><%= meal.discription %></td>
      </tr>
      <% end %>
  </table>
</div>

<div>
<h3>優惠使用</h3>
  <table class="table table-hover">
    <tr>
      <th>ID</th>
      <th>使用時間</th>
    </tr>
    <% @user.coupon_tracks.each do |coupon_track| %>
     <tr>
        <td><%= coupon_track.dinner.name %></td>
        <td><%= coupon_track.created_at %></td>
      </tr>
      <% end %>
  </table>
</div>