<h1>Hello Lunttery</h1>


<div>
  <table class="table table-hover">
    <tr>
      <th>店名</th>
      <th>功能</th>
    </tr>
    
    <% @dinners.each do |dinner| %>
      <tr>
        <td>
          <%= dinner.name %>
        </td>
        <td>
          <%= link_to "Show", dinner_path(dinner),:class=>"btn btn-info" %>
          <%= link_to "Edit", dinners_path(:id => dinner.id),:class=>"btn btn-primary"%>
          <%= link_to "Delete", dinner_path(dinner),:method=>:delete,:class=>"btn btn-danger"%>
          
        </td>
      </tr>
    <% end %>
  </table>
</div>

<%=paginate @dinners%>

<div class="post">
  <%=form_for @dinner do |d| %>
    <div class="form-group">
      <%=d.label :name ,"店名"%>
      <%=d.text_field :name ,:class => "form-control" %>
    </div>

    <div class="form-group">
      <%=d.label :zip ,"ZIP"%>
      <%=d.text_field :zip ,:class => "form-control" %>
    </div>

    <div class="form-group">
      <%=d.label :district ,"區"%>
      <%=d.text_field :district ,:class => "form-control" %>
    </div>

    <div class="form-group">
      <%=d.label :address ,"地址"%>
      <%=d.text_field :address ,:class => "form-control" %>
    </div>

    <div class="form-group">
      <%=d.label :lat ,"經度"%>
      <%=d.text_field :lat ,:class => "form-control" %>
    </div>

    <div class="form-group">
      <%=d.label :lng ,"緯度"%>
      <%=d.text_field :lng ,:class => "form-control" %>
    </div>

    <div class="form-group">
      <%=d.label :style_id ,"風格"%>
      <%=d.collection_select(:style_id, Style.all, :id, :name) %>
    </div>

    <div class="form-group">
      <%=d.label :price_level ,"價格區間"%>
      <%=d.text_field :price_level ,:class => "form-control" %>
    </div>

    <%= d.submit @sub, :class => "btn btn-primary"%>
  <%end %>
</div>