<h1>Hello Lunttery for user</h1>

<%= link_to "Change to Admin", admin_dinners_path,:class=>"btn btn-info" %>

  <div class="row">
    <div class="col-md-10 col-md-offset-1 .col-sm-12">
      <!-- <div class="row">
        <div class="col-md-2"> -->
        <%@meals.each do  |meal|%>
          <div class="meal_info">
            <div class="meal_pic"></div>
              <div class="meal_text">
                <h2><%=meal.name %></h2>
                <span class="gray">#<%=meal.style.name%></span>
                <div class="meal_price"><%=meal.price%>元<a class="main_color to_right"><i class="fa fa-heart-o" aria-hidden="true"> 18</i></a></div>
                <span class="gray">#四平商圈</span>
              </div>
          </div><!-- meal_info -->
        <%end %>
      <%=paginate @meals%>  
    </div>
  </div>