<p>HELLO New Dinner</p>
<div class="post">
  <%=form_for @dinner do |d| %>
    <div class="form-group">
      <%=d.label :name ,"店名"%>
      <%=d.text_field :name ,:class => "form-control" %>
    </div>

    <div class="form-group">
      <%=d.label :zip ,"ZIP"%>
      <%=d.text_field :zip ,:class => "form-control" %>
    </div>

    <div class="form-group">
      <%=d.label :district ,"區"%>
      <%=d.text_field :district ,:class => "form-control" %>
    </div>

    <div class="form-group">
      <%=d.label :address ,"地址"%>
      <%=d.text_field :address ,:class => "form-control" %>
    </div>

    <div class="form-group">
      <%=d.label :lat ,"經度"%>
      <%=d.text_field :lat ,:class => "form-control" %>
    </div>

    <div class="form-group">
      <%=d.label :lng ,"緯度"%>
      <%=d.text_field :lng ,:class => "form-control" %>
    </div>

    <div class="form-group">
      <%=d.label :style_id ,"風格"%>
      <%=d.collection_select(:style_id, Style.all, :id, :name) %>
    </div>

    <%= d.submit @sub, :class => "btn btn-primary"%>
  <%end %>
</div>