<h1>Hello Dinner show page</h1>

<div>
	<table class="table table-hover">
		<tr>
			<th>店名</th>
			<th>地址</th>
			<th>ZIP</th>
			<th>區</th>			
			<th>經度</th>	
			<th>緯度</th>
			<th>風格</th>
			<th>價位</th>
		</tr>
		
		
			<tr>
				<td>
					<%= @dinner.name %>
					<%= @dinner.address %>
					<%= @dinner.zip %>
					<%= @dinner.district %>
					<%= @dinner.lat %>
					<%= @dinner.lng %>
					<%= @dinner.style %>
					<%= @dinner.price_level %>
				</td>
			</tr>
		
	</table>
</div>